.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background: #f2f2f2;
}

.login-box {
	background: #ffffff;
	padding: 2rem 2.5rem;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	width: 100%;
	max-width: 400px;
	
}

.login-box h2 {
	text-align: center;
	margin-bottom: 1.5rem;
	color: red;
}

.login-box label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 500;
	color: red;
}

.login-box input {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.login-box button {
	display: block;
	margin: 1rem auto;
	width: 100%;
	padding: 0.75rem;
	background-color: #333;
	color: #fff;
	align: center;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s ease;
}

.login-box button:hover {
	background-color: #555;
}

.login-links {
	margin-top: 1rem;
	text-align: center;
}

.login-links a {
	color: #0077cc;
	text-decoration: none;
}

.login-links a:hover {
	text-decoration: underline;
}